SOA11g/BPELApps/FirstProj/StudentServicePort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions
     name="StudentServiceService"
     targetNamespace="http://student.sample.student.sample.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://student.sample.student.sample.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://student.sample.student.sample.com/" schemaLocation="StudentServicePort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="totalOper">
        <part name="parameters" element="tns:totalOper"/>
    </message>
    <message name="totalOperResponse">
        <part name="parameters" element="tns:totalOperResponse"/>
    </message>
    <message name="avgOper">
        <part name="parameters" element="tns:avgOper"/>
    </message>
    <message name="avgOperResponse">
        <part name="parameters" element="tns:avgOperResponse"/>
    </message>
    <message name="gradeOper">
        <part name="parameters" element="tns:gradeOper"/>
    </message>
    <message name="gradeOperResponse">
        <part name="parameters" element="tns:gradeOperResponse"/>
    </message>
    <message name="printOper">
        <part name="parameters" element="tns:printOper"/>
    </message>
    <portType name="StudentService">
        <operation name="totalOper">
            <input message="tns:totalOper"/>
            <output message="tns:totalOperResponse"/>
        </operation>
        <operation name="avgOper">
            <input message="tns:avgOper"/>
            <output message="tns:avgOperResponse"/>
        </operation>
        <operation name="gradeOper">
            <input message="tns:gradeOper"/>
            <output message="tns:gradeOperResponse"/>
        </operation>
        <operation name="printOper">
            <input message="tns:printOper"/>
        </operation>
    </portType>
    <binding name="StudentServicePortBinding" type="tns:StudentService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="totalOper">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="avgOper">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="gradeOper">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="printOper">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="StudentServiceService">
        <port name="StudentServicePort" binding="tns:StudentServicePortBinding">
            <soap:address location="http://localhost:7001/KellyBatchFirst-Student-context-root/StudentServicePort"/>
        </port>
    </service>
</definitions>
